@import url(style.css);

:root {
  --swiper-pagination-color: var(--cor-destaque);
  --swiper-pagination-bullet-inactive-color: var(--cor-destaque);
}

.conteudo {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
}

.container_secoes__conteudo {
  width: 65%;
  padding: 2em 2em;
  background: url(../assets/briography_imgs/washi-texture.jpg) no-repeat center;
  background-size: cover;
  box-shadow:  0 0 8px 0 rgba(0, 0, 0, 0.3);
  margin: 5rem;
}

.secoes_iniciais__conteudo {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: left;
  flex-direction: column;
  gap: 2rem;
}

.secoes__conteudo {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 2rem;
}

.titulo_pinturas__swiper {
  font-family: var(--fonte--destaque);
  font-size: 4.5rem;
  color: var(--cor-texto);
  line-height: 1.2;
  margin-bottom: .4em;
  position: relative;
  text-shadow: 0.5px 0.5px 0 rgb(0, 0, 0);
}

.titulo_pinturas__swiper::after {
  content: '';
  background: url(../assets/briography_imgs/hr-brushline.png) no-repeat;
  background-size: contain;
  position: absolute;
  top: 80px;
  left: 25%;
  width: 50%;
  height: 80%;
  opacity: 0.9;
}

.swiper {
  width: 1000px;
  height: 600px;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.container_paragrafo_pinturas__swiper {
  height: auto;
  width: 90%;
  padding-top: .1em;
  border: 2px solid var(--cor-borda);
}

.container_paragrafo_pinturas__swiper a {
  color: var(--cor-destaque);
}

.container_paragrafo_pinturas__swiper a:visited {
  color: var(--cor-contraste);
}

.texto_pinturas__swiper {
  font-family: var(--fonte--primaria);
  font-size: .9rem;
  color: var(--cor-texto);
  opacity: .9;
} 

.pintura__carrossel {
  width: 90%;
  height: 90%;
  object-fit: contain;
  padding: 4px;
  border: 2px solid var(--cor-borda);
  border-bottom: transparent;
}

.swiper-slide {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.swiper-button-prev, .swiper-button-next {
  color: var(--cor-destaque);
  margin: -.8em;
  transition: 0.15s all ease-in-out;
}

.swiper-button-prev:hover, .swiper-button-next:hover {
  color: var(--cor-contraste);
}

.container_texto__conteudo {
  padding: 2rem 0;
  width: 75%;
  text-align: left;
}

.h2s__conteudo {
  font-family: var(--fonte--destaque);
  text-shadow: 0.5px 0.5px 0 rgb(0, 0, 0);
  font-size: 3.5rem;
  line-height: 1.2;
  margin-bottom: 2rem;
  position: relative;
}

.h2s__conteudo::after {
  content: '';
  background: url(../assets/briography_imgs/hr-brushline.png) no-repeat;
  background-size: contain;
  position: absolute;
  top: 70px;
  left: 0;
  width: 55%;
  height: 25%;
  opacity: 0.9;
}

.paragrafos__conteudo {
  font-family: var(--fonte--primaria);
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}


.ancoras_fonte__conteudo {
  font-family: var(--fonte--primaria);
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 2rem;
  color: var(--cor-destaque);
  display: block;
}

.ancoras_fonte__conteudo:visited {
  color: var(--cor-contraste);
}

.container_img_inicial__conteudo {
  display: flex;
  flex-direction: column;
  width: min-content;
  height: auto;
  padding: 4px;
  align-items: center;
  justify-content: space-evenly;
  border: 2px solid var(--cor-borda);
  margin: 0 auto;
}

.container_img__conteudo {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: fit-content;
  padding: 4px;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--cor-borda);
}

.img_inicial__conteudo {
  width: 800px;
  height: 400px;
  object-fit: cover;
  border: 1px solid var(--cor-borda);
}

.img__conteudo {
  width: 285px;
  height: 400px;
  object-fit: cover;
  object-position: 0 30%;
  border: 1px solid var(--cor-borda);
}

.texto__img {
  padding-top: 5px;
  font-family: var(--fonte--primaria);
  font-size: .9rem;
  color: var(--cor-texto);
  opacity: .9;
}

.texto__img a, .paragrafos__conteudo a {
  color: var(--cor-destaque);
}

.texto__img a:visited, .paragrafos__conteudo a:visited {
  color: var(--cor-contraste);
}

@media (max-width: 1650px) {
  .swiper {
    width: 700px;
    height: 420px;
  }

  .texto_pinturas__swiper {
    font-size: .8em;
  }
}

@media (max-width: 1400px) {
  .titulo_pinturas__swiper {
    font-size: 3.5rem;
  }

  .img_inicial__conteudo {
    width: 600px;
    height: 300px;
  }

  .img__conteudo {
    width: 250px;
    height: 350px;
  }
}


@media (max-width: 1200px) {
  .titulo_pinturas__swiper {
    font-size: 3rem;
  }

  .titulo_pinturas__swiper::after {
    display: none;
  }

  .h2s__conteudo::after {
    display: none;
  }

  .img_inicial__conteudo {
    width: 300px;
    height: 150px;
  }

  .secoes_iniciais__conteudo {
    align-items: center;
  }

  .swiper {
    width: 500px;
    height: 300px;
  }

  .texto_pinturas__swiper {
    font-size: .7em;
  }

  .swiper-pagination {
    display: none;
  }

  .secoes__conteudo {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media (max-width: 900px) {
  .swiper {
    width: 350px;
    height: 210px;
  }

  .texto_pinturas__swiper {
    font-size: .6em;
  }

}

@media (max-width: 650px) {
  .titulo_pinturas__swiper {
    font-size: 2.5rem;
  }

  .img_inicial__conteudo {
    width: 250px;
    height: 150px;
  }

  .swiper {
    width: 320px;
    height: 200px;
  }

  .texto_pinturas__swiper {
    font-size: .5em;
  }

  .container_img__conteudo {
    width: 208px;

  }

  .img__conteudo {
    width: 200px;
    height: 300px;
  }

  .h2s__conteudo {
    font-size: 2.5rem;
  }

  .paragrafos__conteudo {
    font-size: 1rem;
  }

  .ancoras_fonte__conteudo {
    font-size: 1rem;
  }
}

@media (max-width: 550px) {
  .container_secoes__conteudo {
    width: 80%;
    padding: 1em;
  }


  .titulo_pinturas__swiper {
    font-size: 2.5rem;
  }

  .img_inicial__conteudo {
    width: 250px;
    height: 150px;
  }

  .swiper {
    width: 300px;
    height: 200px;
  }

  .texto_pinturas__swiper {
    font-size: .5em;
  }

  .container_img__conteudo {
    width: 208px;

  }

  .img__conteudo {
    width: 200px;
    height: 300px;
  }

  .h2s__conteudo {
    font-size: 2.5rem;
  }

  .paragrafos__conteudo {
    font-size: .8rem;
  }

  .ancoras_fonte__conteudo {
    font-size: 1rem;
  }
}